.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox {
  z-index: 2;
  position: absolute;
  top: calc(50% - 235px);
  left: calc(50% - 200px);
}

.main-image {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.lightbox-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--dark-grayish-blue);
  background-color: var(--white);
  cursor: pointer;
}

.lightbox-nav:hover {
  border-color: var(--orange-primary);
  fill: var(--orange-primary);
}

.lightbox-previous {
  position: absolute;
  left: -4%;
  top: calc(50% - 50px);
}
.lightbox-next {
  position: absolute;
  right: -4%;
  top: calc(50% - 50px);
}

.lightbox-previous polyline,
.lightbox-next polyline {
  stroke: var(--black);
  transition: all 0.2s ease;
}

.lightbox-previous:hover polyline,
.lightbox-next:hover polyline {
  stroke: var(--orange-primary);
}

.lightbox-close {
  position: absolute;
  top: -10%;
  right: 0;
  fill: var(--orange-primary);
  cursor: pointer;
}

.lightbox__image-thumbnails {
  max-width: 400px;
  width: 100%;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}

.lightbox__image-thumbnail {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.lightbox__image-thumbnail img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lightbox__image-thumbnail:hover,
.lightbox__image-thumbnail:active,
.lightbox__image-thumbnail:focus {
  border-color: var(--orange-primary);
}
