.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox {
  z-index: 2;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

.lightbox img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.image-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--dark-grayish-blue);
  background-color: var(--white);
  cursor: pointer;
}
