.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em 5em;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    padding: 0 2em;
  }
}
