.nav-lists {
  display: flex;
  align-items: center;
}

.nav-lists li {
  padding: 0 2rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  position: relative;
}

.nav-link:hover {
  color: var(--black);
}

.nav-link::after {
  content: "";
  display: none;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -295%;
  z-index: 2;
  background-color: var(--orange-primary);
}

.nav-link:hover::after {
  display: block;
}
