.product__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__image-container {
  position: relative;
}

.product__image-main {
  max-width: 400px;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.product__image-main.fade-out {
  opacity: 0;
}

.product__image-main.fade-in {
  opacity: 1;
}

.product__image-thumbnails {
  max-width: 400px;
  width: 100%;
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}

.product__image-thumbnail {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  border: 3px solid transparent;
  overflow: hidden;
}

.product__image-thumbnail img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product__image-thumbnail img:hover {
  opacity: 0.5;
}

.product__image-thumbnail:active,
.product__image-thumbnail:focus {
  border-color: var(--orange-primary);
}

.active-thumbnail {
  border: 3px solid var(--orange-primary);
}

.active-thumbnail img {
  opacity: 0.5;
}

.image-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--dark-grayish-blue);
  background-color: var(--white);
  cursor: pointer;
  display: none;
}

.previous {
  position: absolute;
  left: 3.5%;
  top: 50%;
}

.next {
  position: absolute;
  right: 3.5%;
  top: 50%;
}

@media screen and (max-width: 800px) {
  .product__image {
    width: auto;
  }

  .product__image-thumbnails {
    display: none;
  }

  .product__image-main {
    max-width: 100vw;
    border-radius: 0;
  }

  .image-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
