nav {
  margin-left: 2em;
}

.nav-lists {
  display: flex;
  align-items: center;
}

.nav-lists li {
  margin: 0 1.25rem;
}

.nav-link {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link::after {
  display: none;
  content: "";
  width: 100%;
  height: 5px;
  background: var(--orange-primary);
  z-index: 1;
  position: absolute;
  top: 345%;
}

.nav-link:hover {
  color: var(--black);
}

.nav-link:hover::after {
  display: block;
}

@media screen and (max-width: 800px) {
  nav {
    margin: 0;
    width: 70vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .nav-lists {
    flex-direction: column;
    align-items: start;
    padding-top: 6.5em;
  }

  .nav-lists li {
    margin: 0.75rem 2.5rem;
  }

  .nav-link {
    font-weight: bold;
    color: var(--black);
  }

  .nav-link:hover {
    color: var(--dark-grayish-blue);
  }

  .nav-link:hover::after {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .nav-lists li {
    margin: 0.75rem 1.25rem;
  }
}
