@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --orange-primary: #ff7d1a;
  --orange-pale: #ffede0;
  --very-dark-blue: #1d2025;
  --dark-grayish-blue: #68707d;
  --light-grayish-blue: #f7f8fd;
  --grayish-blue: #b6bcc8;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.transform-slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
