.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 5em;
  position: relative;
}

.header__navbar::after {
  display: block;
  width: 88%;
  height: 2px;
  content: "";
  position: absolute;
  left: 6%;
  bottom: 0;
  background: var(--light-grayish-blue);
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.menu-open,
.menu-close {
  cursor: pointer;
  margin-right: 1.5em;
  z-index: 3;
  color: var(--dark-grayish-blue);
}

.menu-open {
  display: none;
}

.header__navbar-menu {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    padding: 1em 2.5em;
  }

  header::after {
    display: none;
  }

  .menu-open {
    display: block;
  }

  .header__navbar {
    display: none;
  }

  .header__navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 1em;
  }

  .logo img {
    width: 120px;
  }

  .menu-open {
    margin-right: 0.75em;
  }
}
